# Configuration Firebase pour les logs (NoSQL)
# Créer un projet sur https://console.firebase.google.com/
# Aller dans Project Settings > Service Accounts > Generate new private key
# Télécharger le fichier JSON et placer le chemin ici

FIREBASE_PROJECT_ID=digitalcraft-dwwm
GOOGLE_APPLICATION_CREDENTIALS=./firebase-credentials.json

# OU utiliser Application Default Credentials (ADC)
# gcloud auth application-default login
